<?xml version="1.0" encoding="utf-8"?>

<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application 
        android:allowBackup="true" 
        android:icon="@raw/notes" 
        android:roundIcon="@raw/notes" 
        android:label="@string/app_name" 
        android:supportsRtl="true" 
        android:theme="@style/AppTheme">
        <activity 
            android:name="MainActivity" 
            android:exported="true">
            <intent-filter>
                <action 
                    android:name="android.intent.action.MAIN" />
                <category 
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Material3.DayNight"
            android:name="EditNoteActivity"
            android:exported="true">
        </activity>
        
        <activity
            android:theme="@style/Theme.Material3.DayNight"
            android:name="ViewNoteActivity"
            android:exported="true">
        </activity>
        
        <activity
            android:theme="@style/Theme.Material3.DayNight"
            android:name="SettingsActivity"
            android:exported="true">
        </activity>
        
        <activity
            android:theme="@style/Theme.Material3.DayNight"
            android:name="AboutAuthorActivity"
            android:exported="true">
        </activity>
        
        
        <service
            android:name="com.mynotes.services.ReminderService">
        </service>
        
    </application>
</manifest>